<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ATG_Notifier.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ATG_Notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ATG_Notifier.Desktop.Properties.Settings>
            <setting name="DoNotDisturb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentChapterUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayPopupSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableOnFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentChapterId" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationDisplayPosition" serializeAs="String">
                <value>TopRight</value>
            </setting>
            <setting name="IsUpdateServiceRunning" serializeAs="String">
                <value>True</value>
            </setting>
        </ATG_Notifier.Desktop.Properties.Settings>
        <ATG_Notifier.Properties.Settings>
            <setting name="DoNotDisturb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentChapterUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="PlayPopupSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TurnOnDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableOnFullscreen" serializeAs="String">
                <value>True</value>
            </setting>
        </ATG_Notifier.Properties.Settings>
    </userSettings>
</configuration>
