<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ATG_Notifier.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ATG_Notifier.Desktop.Properties.Settings>
            <setting name="DoNotDisturb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayPopupSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableOnFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentChapterId" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpdateServiceRunning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MostRecentChapterInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepRunningOnClose" serializeAs="String">
                <value>True</value>
            </setting>
        </ATG_Notifier.Desktop.Properties.Settings>
    </userSettings>
</configuration>
