[*.cs]

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1122: Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:silent

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = none
